@inherits AnagraficheSelectorRowBase
    <tr>
        <td scope="row">@AnagraficaSelector.Anagrafica.Id</td>
        <td>@AnagraficaSelector.Anagrafica.Nome</td>
        <td>@AnagraficaSelector.Anagrafica.Cognome</td>
        <td>@AnagraficaSelector.Anagrafica.Indirizzo</td>
        <td>@AnagraficaSelector.Anagrafica.Citta</td>
        <td>@AnagraficaSelector.Anagrafica.Provincia</td>
        <td>
            <input type="checkbox" />
        </td>
    </tr>
