@page "/anagrafiche"

<h1 class="page-title">Anagrafiche</h1>

@if (AnagraficheList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Indirizzo</th>
                <th>CAP</th>
                <th>Città</th>
                <th>Provincia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anagrafica in AnagraficheList)
            {
            <tr>
                <td>@anagrafica.Id</td>
                <td>@anagrafica.Nome</td>
                <td>@anagrafica.Cognome</td>
                <td>@anagrafica.Indirizzo</td>
                <td>@anagrafica.Cap</td>
                <td>@anagrafica.Citta</td>
                <td>@anagrafica.Provincia</td>
                <a href="@($"anagraficadetail/{anagrafica.Id}")" class="btn btn-primary table-btn">
                    <i class="fas fa-info-circle"></i>
                </a>

            </tr>
            }
        </tbody>
    </table>
}