@inherits ServizioEditBase
@page "/servizioedit"
@page "/servizioedit/{ServizioId}"

@if (!Saved && @Servizio != null)
{
    @if (Servizio.TipoServizioId.HasValue)
    {
        <h1 class="page-title">Dettaglio per servizio @Servizio.Id</h1>

    }
    else
    {
        <h1 class="page-title">Nuovo Servizio</h1>
    }

    @if (!Loaded)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <section class="employee-edit">

            <EditForm class="form-horizontal" Model="@Servizio" OnValidSubmit="@HandleValidSubmit">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tipo" class="col-sm-6">Tipo servizio</label>
                            <InputSelectEnum id="tipo" class="form-control col-sm-6" @bind-Value="Servizio.TipoServizioEnum" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ambiente" class="col-sm-6">Ambiente</label>
                            <InputSelect id="ambiente" class="form-control col-sm-6" @bind-Value="Servizio.AmbienteIdString">
                                @foreach (var ambiente in Ambienti)
                                        {
                                    <option value="@ambiente.Id">@ambiente.Description</option>
                                        }
                            </InputSelect>
                        </div>
                    </div>

                    <a href="" class="btn btn-primary table-btn" @onclick:preventDefault @onclick="e => ShowAnagraficheSelector = !ShowAnagraficheSelector">
                        <i class="fas fa-thumbs-up"></i>
                    </a>

                </div>
                @if (ShowAnagraficheSelector)
                {
                    <AnagraficheSelector Servizio="@Servizio" @ref="anagraficheSelectorDialog" />
                }


                <button type="submit" class="btn btn-primary edit-btn">Salva</button>

                @if (Servizio.Id > 0)
                {
                    <a class="btn btn-danger" @onclick="@DeleteServizio">
                        Elimina
                    </a>
                }

                <a class="btn btn-outline-primary" @onclick="@NavigateToList">Torna alla lista</a>
            </EditForm>

        </section>

    }
}
else
{
    <div class="alert @StatusClass">@Message</div>
}